@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*  моб заголовок для видео на анимацию или  моб h1 */
  body {
    @apply text-xs leading-xs;
  }

  h1,
  .h1 {
    @apply mb-4 
    mt-4
    font-serif
    text-[2.8rem] 
    uppercase  
    leading-[3rem]
    text-white;
  }

  h2,
  .h2 {
    @apply mb-4 
    mt-4
    font-serif
    text-[2.125rem] 
    uppercase  
    leading-[2.5rem]
    text-white;
  }

  h3,
  .h3 {
    @apply mb-4 
    mt-4
    font-serif
    text-[1.5rem] 
    uppercase  
    leading-[2rem]
    text-white;
  }

  h4,
  .h4 {
    @apply mb-4 
    mt-4
    font-serif
    text-[1rem] 
    uppercase  
    leading-[1.25rem]
    text-white;
  }

  p {
    @apply mb-4;
  }

  ul {
    @apply mb-4;
  }

  ul li {
    @apply relative mb-4 pl-6 before:absolute before:left-0 before:top-4 before:h-1px before:w-4 before:bg-gray-400 before:content-[''] last:mb-0;
  }

  .video_link {
    @apply flex max-w-[360px] flex-row items-center text-xs leading-xs md:mt-2;
  }

  .video_link .icon {
    @apply mb-2 mr-4 mt-2 flex h-10 w-10 min-w-[4rem] items-center justify-center rounded-full border-4 border-solid border-gray-300;
  }

  .video_link .anchor {
    @apply pb-[0.625rem] pt-[0.375rem];
  }

  .video_link_v {
    @apply flex flex-col items-center text-center text-xs leading-xs md:mt-0;
  }

  .video_link_v .icon {
    @apply mb-2 mt-0 flex h-10 w-10 min-w-[4rem] items-center justify-center rounded-full border-4 border-solid border-gray-300;
  }

  .video_link_v .anchor {
    @apply pt-[0.5rem];
  }

  .wrap {
    @apply mb-6 md:mb-9 xl:mb-12 xxl:mb-14;
  }

  .mark_wrap {
    @apply flex justify-center;
  }

  .mark {
    @apply ml-auto mr-auto mt-0 inline-flex items-center rounded-full bg-gray-300 px-4 py-3 text-s font-medium leading-s;
  }

  .lr_section {
    @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-14;
  }

  .lr_section .content {
    @apply flex items-center p-6 md:p-8 xl:col-span-6 xl:p-12 xxl:p-14 xxxl:p-16;
  }

  .lr_section .media {
    @apply relative bg-gray-400 xl:col-span-8 portrait:min-h-[50vh] landscape:min-h-screen;
  }

  .footer {
    @apply grid grid-cols-1 gap-y-6 bg-gray-600 p-6 md:grid-cols-2 md:p-8 xl:px-12 xxl:px-14 xxxl:px-16 mb-[8.75rem] xl:mb-[7rem];
  }

  .footer .logo {
    @apply flex justify-center md:justify-start;
  }

  .social_media {
    @apply flex flex-wrap justify-center md:justify-end;
  }

  .social_media .item {
    @apply mr-1 flex h-7 w-7 items-center justify-center transition-all last:mr-0 hover:opacity-60 md:mr-2;
  }

  .team {
    @apply relative mt-6 md:mt-7 xl:mt-8;
  }

  .person {
  }

  .person__photo {
    @apply relative mb-4 aspect-[3/4];
  }

  .person__name {
    @apply mb-1 font-serif text-xs leading-xs;
  }

  .person__position {
    @apply font-sans text-xs leading-xs text-gray-200;
  }

  .prev,
  .next {
    @apply absolute top-1/2 z-10  -mt-4 flex h-8 w-8 cursor-pointer rounded-full border-4 border-solid border-gray-300 bg-gray-500 p-2 xl:-mt-6 xl:h-10 xl:w-10 xl:p-4;
  }

  .prev span,
  .next span {
    @apply relative h-full w-full;
  }

  .prev {
    @apply -left-4 rotate-180 xl:-left-6;
  }

  .next {
    @apply -right-4 xl:-right-6;
  }

  .section.bb {
    @apply border-b-1 border-solid border-gray-400;
  }

  .awards {
    @apply relative mt-6 xl:mt-8 xxl:mt-8;
  }

  .award {
    @apply relative aspect-[3/4];
  }

  .wrapper {
    @apply p-6 md:p-8 lg:p-10 xl:p-12 xxl:p-14 xxxl:p-16;
  }

  .section {
    @apply md:grid md:grid-cols-2 xl:grid-cols-14;
  }

  .section_wrapper {
    @apply flex flex-col justify-center xl:col-span-6;
  }

  .section_media {
    @apply relative aspect-[4/3] md:aspect-auto md:min-h-[50vh] md:overflow-hidden xl:col-span-8 xl:min-h-screen;
  }

  .section__title {
    @apply mb-3 
    text-center
    font-serif 
    text-[1.25rem]  
    uppercase
    leading-[2rem]
    text-white
    md:text-[1.5rem] 
    md:text-[2rem] 
    xl:text-[2.8rem] 
    xl:leading-[3.5rem];
  }

  .section__content {
    @apply mt-0 md:mt-3 xl:mt-3;
  }

  .section__dscr {
    @apply mb-4 text-center font-sans text-xs leading-xs opacity-90 lg:text-[1.25rem] lg:leading-sm;
  }

  .chart {
    @apply mt-5 bg-gray-500 p-2 md:mt-7 md:p-8 lg:p-10 xl:mt-8 xl:p-12 xxl:p-14 xxxl:p-16;
  }

  .application {
    @apply mt-5 grid grid-cols-1 gap-6 bg-gray-500 p-6 md:mt-7 md:gap-6 md:p-8 lg:gap-8 lg:p-10 xl:mt-8 xl:gap-8 xl:p-12 xxl:gap-8 xxl:p-14 xxxl:gap-8 xxxl:p-16;
  }

  .application_btns {
    @apply flex justify-center; 
  }

  .application_btn {
    @apply cursor-pointer rounded-full
    px-5 
    py-3  
    font-serif
    text-[0.875rem]
    uppercase
    leading-[2rem];
  }

  .application_btn.active {
    @apply bg-gray-300;
  }

  .application_slider {
    @apply relative flex w-full cursor-pointer;
  }

  .application_slider .swiper-slide {
    @apply flex h-full;
  }

  .application_item_slide {
    @apply flex w-full items-center justify-center border-1 border-solid border-gray-300 p-6 text-center font-serif;
  }

  .application_item_slide.active {
    @apply bg-gray-300;
  }

  .application_item {
    @apply hidden;
  }

  .application_item.active {
    @apply grid grid-cols-1 gap-6 xl:gap-8;
  }

  .application .swiper {
    @apply w-full;
  }

  .application_content {
    @apply hidden;
  }

  .application_content.active {
    @apply grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-4 md:gap-x-8 xl:gap-x-10;
  }

  .application_content_item {
    @apply relative pl-6 before:absolute before:left-0 before:top-3 before:h-1px before:w-4 before:bg-gray-300 before:content-[''];
  }

  .application_image {
    @apply relative col-span-1 mt-4 aspect-[4/3] border-1 border-solid border-gray-300 md:col-span-2 md:mt-6;
  }

  .specification {
    @apply mt-5 grid grid-cols-1 gap-6 bg-gray-500 p-6 sm:grid-cols-2 md:mt-7 md:grid-cols-2 md:gap-8 md:p-8 lg:gap-10 lg:p-10 xl:mt-8 xl:grid-cols-3 xl:gap-12 xl:p-12 xxl:grid-cols-3 xxl:gap-14 xxl:p-14 xxxl:grid-cols-3 xxxl:gap-16 xxxl:p-16;
  }

  .specification_group {
  }

  .specification_title {
    @apply font-serif 
    text-[0.875rem]  
    uppercase
    leading-[2rem]
    text-white;
  }

  .specification_item {
    @apply grid grid-cols-2 gap-6 border-b-1 border-solid border-gray-200 py-3 opacity-75;
  }

  .roadMap {
    @apply mt-6 grid grid-cols-1 gap-6 md:mt-7 md:gap-8 xl:mt-8 xl:gap-10;
  }

  .bg_roadMap {
    @apply bg-gray-300;
  }

  .roadMap_gallery {
    @apply grid grid-cols-1 gap-6 md:grid-cols-3 md:gap-8 xl:gap-10;
  }

  .roadMap_gallery_item {
    @apply relative aspect-[4/3];
  }

  .roadMap_list {
    @apply relative bg-gray-500 p-6 md:p-8 lg:p-10 xl:p-12 xxl:p-14 xxxl:p-16;
  }

  .roadMap_item {
    @apply relative px-4 text-center md:px-5 xl:px-6;
  }

  .roadMap_date {
    @apply mb-7;
  }

  .roadMap_event {
    @apply pt-2;
  }

  .roadMap_progress {
    @apply absolute left-0 top-8 h-1px w-full border-4 border-solid border-gray-200 before:absolute before:left-1/2 before:top-1/2 before:-ml-4 before:-mt-4 before:h-6 before:w-6 before:rounded-full before:bg-gray-100 before:content-[attr(before)] before:content-[attr(before)] after:absolute after:left-1/2 after:top-1/2 after:-ml-2 after:-mt-2 after:h-4 after:w-4 after:rounded-full after:bg-gray-400;
  }

  .roadMap_progress.in {
    @apply border-dashed;
  }

  .design {
    @apply mt-6 md:mt-7 xl:mt-8;
  }

  .design_gallery {
    @apply relative;
  }

  .design_gallery_item {
    @apply relative aspect-[4/3];
  }

  .design_features {
    @apply relative z-10
    mt-6 px-6 md:-mt-8 md:px-8 lg:-mt-10 lg:px-10
    xl:-mt-12 xl:grid xl:grid-cols-2 xl:px-12 xxl:-mt-14 xxl:px-14
    xxxl:-mt-16 xxxl:px-16;
  }

  .design .prev {
    @apply left-6 rotate-180 md:left-8 lg:left-10 xl:left-12 xxl:left-12 xxxl:left-16;
  }

  .design .next {
    @apply right-6 md:right-8 lg:right-10 xl:right-12 xxl:right-12 xxxl:right-16;
  }

  .design_features_title {
    @apply mb-3 
    font-serif  
    text-[0.875rem]
    uppercase
    leading-[2rem]
    text-white;
  }

  .design_features_wrap {
    @apply border-b-1 border-solid border-gray-500 bg-gray-600 px-6 pb-6 pt-6 md:px-8 md:pb-8 md:pt-8
    lg:px-10 lg:pb-10 lg:pt-10 xl:border-b-0 xl:border-r-1;
  }

  .design_videos {
    @apply grid grid-cols-1 gap-10 bg-gray-600 p-6 px-6 md:grid-cols-2 
   md:gap-14 md:p-8 md:px-8 lg:gap-18 lg:p-10 lg:px-10;
  }

  .design_videos .video_link_v {
    @apply relative before:absolute before:-bottom-6 before:right-0 before:h-1px before:w-full before:bg-gray-500 before:content-[''] last:before:hidden
    md:before:-right-8 md:before:bottom-0 md:before:h-full md:before:w-1px lg:before:-right-10;
  }

  .design_features_list {
    @apply grid columns-1 gap-4 md:grid-cols-2 md:gap-x-8;
  }

  .design_features_list div {
    @apply relative pl-6 before:absolute before:left-0 before:top-3 before:h-1px before:w-4 before:bg-gray-400 before:content-[''];
  }

  .faq {
    @apply relative mt-6 md:mt-7 xl:mt-8;
  }

  .faq_item {
    @apply h-auto h-full w-full bg-gray-500 p-6 md:p-8 xl:p-10;
  }

  .faqSwiper.swiper .swiper-slide {
    @apply flex h-auto;
  }

  .faq_question {
    @apply mb-4 border-b-1 border-solid border-b-gray-300 pb-4 font-serif;
  }

  .touchRgb {
    @apply relative mt-6 md:mt-7 xl:mt-8;
  }

  .touchRgb_wrap {
    @apply xl:absolute xl:bottom-0 xl:left-0 xl:w-full;
  }

  .touchRgb_video {
    @apply relative aspect-[4/3];
  }

  .touchRgb_wrap_content {
    @apply bg-gray-600 md:grid md:grid-cols-2 xl:grid-cols-14;
  }

  .touchRgb_wrap_content_dscr {
    @apply flex items-center border-b-1 border-solid border-gray-500 p-6 
    text-center  
    font-serif
    text-[0.875rem]
    uppercase leading-[1.5rem] text-white md:border-b-0
    md:border-r-1 md:p-8 md:text-left lg:p-10 xl:col-span-8 xl:px-12
    xxl:px-14
    xxxl:px-16;
  }

  .touchRgb_wrap_content_youtube {
    @apply flex items-center bg-gray-600 p-6 md:p-8 lg:p-10 xl:col-span-6 xl:px-12 xxl:px-14
    xxxl:px-16;
  }

  .typeTouch_wrap {
    @apply grid grid-cols-1 bg-gray-600 md:grid-cols-3;
  }

  .typeTouch{
    @apply mt-6 md:mt-7 xl:mt-8
  }

  .typeTouch_block {
    @apply border-b-1 border-solid border-gray-500 px-6 pb-6 pt-6 last:border-b-0 last:border-r-0 md:px-8 md:pb-8
    md:pt-8 lg:px-10 lg:pb-10 lg:pt-10 md:border-b-0 md:border-r-1 last:md:border-r-0;
  }

  .typeTouch_block_title {
    @apply mb-2 
    font-serif  
    text-[0.875rem]
    uppercase
    leading-[1.5rem]
    text-white;
  }

  .typeTouch_block_btn{
    @apply mt-3
  }

  .typeTouch_block_btn {
    @apply relative bg-gray-500 h-9 px-6 inline-flex rounded-full mr-4 last:mr-0;
  }

  .typeTouch_video{
    @apply aspect-[4/3] relative
  }

  .typeTouch_wrapper{
    @apply relative z-10
    mt-6 px-6 md:-mt-8 md:px-8 lg:-mt-10 lg:px-10
    xl:-mt-12 xl:px-12 xxl:-mt-14 xxl:px-14
    xxxl:-mt-16 xxxl:px-16;
  }

  .clvx1Slider_gallery_item{
    @apply relative aspect-[4/3] md:aspect-auto md:min-h-[50vh] md:overflow-hidden xl:col-span-8 xl:min-h-screen
  }

  .clvx1Slider .prev {
    @apply left-6 rotate-180 md:left-8 lg:left-10 xl:left-12 xxl:left-12 xxxl:left-16;
  }

  .clvx1Slider .next {
    @apply right-6 md:right-8 lg:right-10 xl:right-12 xxl:right-12 xxxl:right-16;
  }

  .section_list{
    @apply grid gap-6 grid-cols-2 mt-6 md:gap-8 xxl:gap-10 xl:mt-6 xxl:mt-8
  }

  .section_list_item_icon{
    @apply relative aspect-[4/3] mb-4
  }

  .section_list_item_dscr{
    @apply font-sans text-xs leading-xs opacity-90
  }

  .main{
    @apply w-full relative h-screen bg-gray-600 mb-6 md:mb-8 lg:mb-10 xl:mb-12 xxl:mb-14 xxxl:mb-16 
  }

  .main_dscr{
    @apply absolute bottom-0 text-center font-serif w-full 
    text-[1.25rem]  
    uppercase
    leading-[2rem]
    text-white
    md:text-[1.5rem] 
    md:text-[2rem] 
    xl:text-[2.8rem] 
    xl:leading-[3.5rem]
    pb-6 md:pb-8 lg:pb-10 xl:pb-12 xxl:pb-14 xxxl:pb-16
    before:absolute before:left-1/2 before:w-1px before:content-[''] before:h-4 before:md:h-6 before:lg:h-8 before:xl:h-10 before:xxl:h-12 before:xxxl:h-14 before:bg-black before:bottom-0
    ;
  }

  .footerPopUp{
    @apply w-full fixed left-0 bottom-0 transition-all flex flex-col justify-center items-center
    px-6 md:px-8 lg:px-10 xl:px-12 xxl:px-14 xxxl:px-16
    py-4 xl:py-6 z-[70] md:flex-row
  }

  .footerPopUp_title{
    @apply
    font-serif  
    text-[0.875rem]
    uppercase
    leading-[1.5rem]
    text-center
    md:text-right
    md:mb-0
    md:mr-4
    mb-3
    text-white;
  }

  .footerPopUp_title span{
    @apply line-through ml-1
  }

  .footerPopUp_btn{
    @apply
    md:ml-4
    cursor-pointer
    font-serif  
    text-[0.875rem]
    uppercase
    leading-[1.5rem]
    text-white
    px-5
    py-3
    bg-gray-600
    rounded-full
    ;
  }

  .header{
    @apply w-full fixed h-12 md:h-14 left-0 top-0 transition-all flex justify-between items-center
    px-6 md:px-8 lg:px-10 xl:px-12 xxl:px-14 xxxl:px-16
    border-b-1 border-solid border-gray-400 z-50
  }

  .close{cursor: pointer;}

  .menu{
    @apply 
    w-full 
    fixed
    top-0
    -left-full
    min-h-screen 
    h-full 
   bg-gray-600
    z-[100]
    flex
    flex-col
    justify-between
    overflow-y-scroll
    transition-all
  }

  .menu.open{
    @apply left-0
  }

  .menu_header{
    @apply 
    w-full 
    h-12 
    min-h-[5rem]
    md:h-14 
    md:min-h-[6rem]
    transition-all 
    flex 
    justify-between 
    items-center
    px-6 
    md:px-8 
    lg:px-10 
    xl:px-12 
    xxl:px-14 
    xxxl:px-16
    border-b-1 
    border-solid 
    border-gray-400 z-50 
  }

  .menu_footer{
    @apply
    w-full 
    h-12 
    min-h-[4rem]
    md:h-16 
    md:min-h-[6rem]
    transition-all 
    flex 
    justify-center
    items-center
    px-6 
    md:px-8 
    lg:px-10 
    xl:px-12 
    xxl:px-14 
    xxxl:px-16
    border-t-1 
    border-solid 
    border-gray-400 z-50 
  }

  .menu_main{
    @apply grid grid-cols-1 h-full sm:grid-cols-2
  }

  .menu_wrap{
    @apply p-6 md:p-8 lg:p-10 xl:p-12 xxl:p-14 xxxl:p-16 border-b-1 border-solid border-gray-400 last:border-b-0 sm:border-b-0 sm:border-r-1 last:sm:border-r-0 flex flex-col 
  }

  .form{
    @apply col-span-1 h-full sm:col-span-2 flex justify-center p-6 md:p-8 lg:p-10 xl:p-12 xxl:p-14 xxxl:p-16
  }

  .form_grid{
    @apply max-w-[480px] w-full flex justify-center flex-col
  }

  .form_grid div{
    @apply w-full flex justify-start flex-col items-center mb-4
  }

  .form_grid div input{
    @apply px-4 py-3 bg-none border-1 border-solid border-gray-400 outline-0 text-gray-400 w-full rounded-full
  }

  .btn{
    @apply px-4 py-3 bg-gray-300 outline-0 text-gray-100 w-full rounded-full mt-4
  }

  .form_grid div .label{
    @apply mb-2
  }

  div.form_title{
    @apply mb-4 
    mt-4
    font-serif
    text-[1.5rem] 
    uppercase  
    text-center
    leading-[2rem]
    text-white
    inline-block;
  }

  .form_title span{
    @apply line-through
  }

  .menu_list_title{
    @apply mb-3 
    font-serif 
    text-[1.25rem]  
    uppercase
    leading-[2rem]
    text-white
    md:text-[1.5rem] 
    md:text-[2rem] 
    md:mb-5
    xl:text-[2.8rem] 
    xl:leading-[3.5rem]
    xl:mb-6;
  }

  .menu_list_item {
    @apply mb-4 font-sans text-xs leading-xs opacity-90 lg:text-[1.25rem] lg:leading-sm cursor-pointer flex;
  }

  @media screen(xl) {
    h1,
    .h1 {
      @apply mb-4 
      mt-4
      text-[3.5rem]
      leading-[4.5rem];
    }

    h2,
    .h2 {
      @apply mb-[1.25rem] 
      mt-[1.25rem]
      text-[2.8rem] 
      leading-[3.5rem];
    }

    h3,
    .h3 {
      @apply text-[2.125rem] 
      leading-[2.5rem];
    }
  }
}
